.hero-section {
  background-color: #242a34;
}

.down {
  color: #181b21;
}

.my-skill {
  background-color: #242a34;
}

.box-skill-icon {
  background-color: #2a303d;
}

.hover-item {
  background-color: rgba(42, 48, 61, 0.37);
}

.scroll-watcher {
  height: 5px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #36eee0;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .skill-content {
    scale: 0.5;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;

    /* contain: animation start when the screen contain the entire the element
       exit: animation start when we scroll out of the element
       entry: element start from entry and end when the viewport reach to 200px
    */
  }

  .about-me-content {
    opacity: 0;
    scale: 0.5;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }
  .project-content {
    opacity: 0;
    scale: 0.5;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}

.hero-content {
  animation: hero-fade-off linear;
  animation-timeline: view();
  animation-range: exit;
}

.img-box {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
}

/* .hero-section {
  animation: hero-fade-off linear forwards;
  animation-timeline: view();
  animation-range: exit;
} */

.contact-content {
  animation: hero-fade-in linear;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes hero-fade-off {
  25% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    scale: 3;
  }
}

@keyframes hero-fade-in {
  0% {
    opacity: 0;
    scale: 3;
  }
  90%, 100% {
    opacity: 1;
    scale: 1;
    /* scale: 3; */
  }
}
