
.hero-section {
  background-color: #242a34;
}

.down {
  color: #181b21;
}

.my-skill {
  background-color: #242a34;
}

.box-skill-icon {
  background-color: #2a303d;
}

.hover-item {
  background-color: rgba(42, 48, 61, 0.37);;
}

